* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
html {
  font-size: 62.5%;
}
body {
  min-height: 100svh;
  display: flex;
  align-items: center;
  justify-items: center;
  background-color: black;
}
.d-flex {
  display: flex;
}
.container {
  max-width: 50%;
  margin: 0 auto;
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  position: relative;
}

.container.main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.container .timer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15rem;
  font-weight: bold;
}
.container .buttons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}
.container .buttons button,
.last button:not(.settings, .reset, .pause) {
  width: 150px;
  padding: 10px;
  font-size: 1.7rem;
  background: transparent;
  outline: none;
  border: 1px solid black;
  border-radius: 20px;
  transition: 0.3s;
}
.container .buttons button:hover,
.container .last button:not(.settings, .reset, .pause):hover {
  background-color: black;
  color: white;
}
.container .last {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.container .last .reset,
.settings,
.pause {
  font-size: 30px;
  border: none;
  background: white;
  cursor: pointer;
  color: black;
}
.container:not(.active) {
  display: none;
}
.starting-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .starting-buttons {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    button {
      width: 70px;
      aspect-ratio: 1;
      font-size: 35px;
      background-color: transparent;
      border: none;
      cursor: pointer;
    }
  }
}
.cycles {
  font-size: 2.5rem;
}

@media (max-width: 768px) {
  html {
    font-size: 7px;
  }
  .container {
    width: 100%;
    max-width: 100%;
    margin: 0;
    height: 100svh;
  }
  .container.settings-container {
    height: fit-content;
    padding-bottom: 40px;
  }
  .cycles {
    position: absolute;
    top: 100px;
  }
}
.settings-container {
  position: absolute;
  left: 50%;
  box-shadow: 0px 2px 1500px 100px;
  transform: translate(-50%);
  display: none;
  opacity: 0;
  animation: window 0.5s;
  .settings-header {
    h1 {
      font-size: 4rem;
    }
    i {
      font-size: 4rem;
      cursor: pointer;
    }
  }

  .settings-header {
    justify-content: space-between;
  }
  .settings {
    .setting {
      margin-top: 1em;

      flex-direction: column;
      label {
        font-size: 2rem;
        width: 47%;
        display: inline-block;
      }
      input {
        font-size: 2rem;
        width: 50%;
      }
    }
  }
}
.settings-container.active{
  display: block;
  opacity: 1;

}
@keyframes window {
  0% {
    opacity: 0;
    display: none;
  }
  100% {
    opacity: 1;
    display: block;
  }
}
